#include "rickKlorRight-layouts.dtsi"
#include <dt-bindings/zmk/matrix_transform.h>
#include <dt-bindings/pinctrl/nrf-pinctrl.h>

/*
/ {
    chosen {
        zmk,pointer = &trackball;
    };
};

&pinctrl {
    i2c0_default: i2c0_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 2)>,
                    <NRF_PSEL(TWIM_SCL, 0, 3)>;
        };
    };
};

&i2c0 {
    status = "okay";
    clock-frequency = <100000>;
    
    pinctrl-0 = <&i2c0_default>;
    pinctrl-names = "default";
    
    trackball: trackball@0a {
        compatible = "pimoroni,trackball";
        reg = <0x0a>;
        status = "okay";
        label = "TRACKBALL";
        poll-period-ms = <10>;
    };
};

/ {
    trackball_listener {
        compatible = "zmk,input-listener";
        device = <&trackball>;
    };
};
*/

/ {
    // Additional key scan for 5-way switch
    kscan_5way: kscan_5way {
        compatible = "zmk,kscan-gpio-direct";
        label = "5WAY_SWITCH";
        
        input-gpios
            = <&pro_micro 0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>    // up
            , <&pro_micro 14 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   // down  
            , <&pro_micro 16 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   // left
            , <&pro_micro 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   // right
            , <&pro_micro 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>    // center
            ;
    };

    // Transform for the 5-way switch
    fiveway_transform: fiveway_transform {
        compatible = "zmk,matrix-transform";
        rows = <1>;
        columns = <5>;
        
        map = <
        RC(0,0) RC(0,1) RC(0,2) RC(0,3) RC(0,4)
        >;
    };

    // Composite kscan combining main matrix and 5-way switch
    composite_kscan {
        compatible = "zmk,kscan-composite";
        label = "COMPOSITE_KSCAN";
        
        // main matrix kscan (from main configuration)
        kscan-0 = <&kscan0>;
        // 5-way switch kscan
        kscan-1 = <&kscan_5way>;
    };
};
