#include "rickKlorRight-layouts.dtsi"

&i2c0 {
    status = "okay";
    clock-frequency = <100000>;
    
    pinctrl-0 = <&i2c0_default>;
    pinctrl-names = "default";
    
    trackball: trackball@0a {
        compatible = "pimoroni,trackball";
        reg = <0x0a>;
        label = "TRACKBALL";
        status = "okay";
    };
};
